<h1 [hidden]=" username ==='' ">Welcome {{ username }}</h1>
<h1 [hidden]=" username !=='' ">Please enter your username</h1>
<hr>
<label>Username:</label>
<input type="text" (input)="onUsernameInputChanged($event)">
<br>
<label>Password:</label>
<input type="text" (input)="onPasswordInputChanged($event)">
<br>
<label>Retype Password:</label>
<input type="text" (input)="onRetypePasswordChanged($event)">
<br>
<label [hidden]="ispasswordsmatch || password===''">Passwords do not match !!!</label>
<label [hidden]="!ispasswordsmatch">Passwords match : )</label>